.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  /*display: flex;*/
  /* flex-direction: column;
  align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #8f9196;
  /*display: flex;*/
  /* flex-direction: column;
  align-items: center; */
  /* justify-content: center; */
  margin-top: 2%;
  /* font-size: calc(5px + 2vmin); */
  color: white;
  padding-top: 1px;
  padding-bottom: 1px;
}


.dataset {
  display: flex;
  flex-direction: column;

  /* border-radius: 10px; */
  /* margin: 1%; */

  background-color: rgb(211, 211, 202);
}

.divider {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  /* border-radius: 100px; */
  max-width: 100%;
}

.dataset_alert {
  margin: 2%;
}
.form {
  /* background-color: rgb(202, 211, 209); */
  margin-top: 5%;
  text-align: center;

  /* margin-bottom: 2%; */

  /* height: 80%; */
  /* border: #282c34; */
  border-radius: 10px;
  /* border-style:  inset; */
  /* width: 20%; */
  /* border-style:groove;

  border-radius: 10px; */
}

.form_main {
  max-height: 50vh;
  overflow-y: auto;
}









.eachContinuousVar {
  /* background-color:azure; */
  background-color: mintcream;
  margin: 3px;
  border-radius: 5px;
}
.slider {
  width: 50%;
}

.min {
  display: inline-block;
}
.max {
  display: inline-block;
}

.chart {
  /* background-color:rgb(246, 241, 228); */
  /* background-color: rgb(245, 235, 235); */
  /* margin: 2%; */
  /* padding: 1%; */
  overflow-y: auto;
  /* min-height: 980px; */
  /* height:980px; */
  /* min-height:900px; */
  /* height: 100%; */
  /* border-style:groove;
  border-radius: 10px; */
  /* display: flex; */
  /* justify-content: center; 
   align-items:center; */
  /* height: 100vh; */
  /* height: 100%; */
  height: 80vh;
  
}

.plotButton {
  width: 100%;
}
.coverImg {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  width: 45%;
  /* background-color: #747983; */
}
.chartFill {
  height: 100%;
}



#reset {
  margin-right: 15%;
}
#submit {
  margin-left: 15%;
}
#coverText {
  font-size: calc(10px + 1vmin);
}


