.App {
  text-align: center;
}





.App-header {
  background-color: #282c34;
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.main_sec{
  width: 100%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
}

.user_selection_container{
  background-color: rgb(156, 169, 121);
  margin: 2%;
  /* height: 80%; */
  border: #282c34;
  border-radius: 10px;
  border-style:  inset;
  width: 30%;
}

.display_container{
  background-color: rgb(124, 219, 219);
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  /* height: 80%; */
  border: #282c34;
  border-radius: 10px;
  border-style:inset;
  /* border: 3px; */
  width: 60%;
}

.drawing_selection_container{
  background-color: rgb(124, 219, 219);
  margin-top: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  /* height: 80%; */
  border: #282c34;
  border-radius: 10px;
  border-style:inset;
  /* border: 3px; */
  width: 5%;
  display: flex;
  flex-direction: row;
}

.columns{
  display: flex;
  flex-direction: column;
  border: 3px;
  border-style:  inset;
  
  border-radius: 10px;
  margin: 1%;
}
.filter{
  display: flex;
  flex-direction: column;
  border: 3px;
  border-style:  inset;
  /* border-color: green; */
  border-radius: 10px;
  margin: 1%;
}

.continuous{
  display: flex;
  flex-direction: column;
}
.categorical{
  display: flex;
  flex-direction: column;
}

.groupBy{
  display: flex;
  flex-direction: column;
  border: 3px;
  border-style:  inset;
  /* border-color: green; */
  border-radius: 10px;
  margin: 1%;
}
.aggregation
{
  display: flex;
  flex-direction: column;
  border: 3px;
  border-style:  inset;
  /* border-color: green; */
  border-radius: 10px;
  margin: 1%;
}
.slider{
  width: 30%;
  
}

#min{
  display: inline-block;
}
#max{
  display: inline-block;
}

