.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.mainSec{
  background-color: rgb(124, 219, 219);
  margin: 2%;
  height: 80%;
  border: #282c34;
  border-radius: 10px;
  border-style:  inset;
  display: flex;
}
.filter{
  display: flex;
  flex-direction: column;
  border: 3px;
  border-style:  inset;
  /* border-color: green; */
  border-radius: 10px;
  margin: 1%;
}
.continuous{
  display: flex;
  flex-direction: column;
}
.categorical{
  display: flex;
  flex-direction: column;
}




